.homeBody {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    grid-template-rows: 10px 200px 500px 200px 500px 10px; 
    row-gap: 50px;
}

.titleContainer {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
}

.titleContainerTwo {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
}

.titleBox {
    background-color: brown;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 10px;
}

.titleBox p {
    align-self: center;
    justify-self: center;
    font-size: 30px;
    color: rgba(255,255,255,0.8);
    margin: 0;
}

.titleBox p:first-child {
    background-color: rgb(146, 120, 120);
    width: 150px;
    height: 75px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleBox p:last-child {
    background-color: rgb(146, 120, 120);
    width: 250px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.cardContainer {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 50px;
}

.cardContainerTwo {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 40px;
}